 <!-- Threads -->
            <!-- {% if threads %}
                {% for thread in threads %} -->
                <div class="thread">
                    <main class="question">
                        <!-- Question -->
                        <!-- Title -->
                        <div class="title">
                            <!-- Profile -->
                            <div class="profile-container">
                                <div class="student-profile">
                                    <img src="../static/assets/sganyani.png" class="avatar" alt="student avatar"/>
                                    <!-- <p>{{  thread["mainQuestion"]['profile']['username'] }}</p> -->
                                </div>
                            </div>
                            <!-- Reference -->
                            <!-- <div class="references-container">
                                <p class="thread-references session-year-paper">{{ thread["mainQuestion"]['references']['session'] }} {{ thread["mainQuestion"]['references']['year'] }} {{ thread["mainQuestion"]['references']['paper'] }}</p>
                                <p class="thread-references syllabus">{{ thread["mainQuestion"]['references']['syllabus'] }}</p>
                                <p class="thread-references topic">{{ thread["mainQuestion"]['references']['topic'] }}</p>
                            </div> -->
                            <!-- Controls -->
                            <div class="controls-container">
                                <div class="title-attachments-container">
                                    <i class="fa-solid fa-paperclip"></i>
                                </div>
                                <div class="thread-title-controls-container">
                                    <i class="fa-regular fa-bell"></i>
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    <i class="fa-regular fa-bookmark"></i>
                                </div>
                                <p class="thread-title-controls-date" id="thread-title-question-date">2w</p>
                            </div>
                        </div>
                        <!-- Description -->
                        <div class="thread-question-inner-container">
                            <div class="question-title-container">
                                <p class="question-title">Q: </p>
                            </div>
                            <div class="question-description-container">
                                <p class="question-description">
                                    What are atoms?  
                                </p>
                            </div>
                        </div>
    
                        <!-- Question -->
                        <p class="reply">reply</p>
                        <p class="answers">view answers</p>
                    </main>
                    <main class="responses">
                        <!-- Response number 1 -->
                        <div class="response-container">
                            <!-- Title -->
                            <div class="response-title-container">
                                <!-- Profile  -->
                                <div class="profile-container">
                                    <div class="student-profile">
                                        <img src="../static/assets/sganyani.png" class="avatar" alt="student avatar" />
                                        <p class="thread-forum-student-username">
                                            T.Cruise
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Description } -->
                            <div class="thread-response-container">
                                <p class="response-description">
                                    Really you don't know what atoms are? 
                                </p>
                            </div>
    
                            <!-- Nested Comments or Answers * -->
                            <!-- { output } -->
                            <div class="response-container">
                                <!-- Title -->
                                <div class="response-title-container">
                                    <!-- Profile  -->
                                    <div class="profile-container">
                                        <div class="student-profile">
                                            <img src="../static/assets/sganyani.png" class="avatar" alt="student avatar" />
                                            <p class="thread-forum-student-username">
                                                T.Cruise
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Description } -->
                                <div class="thread-response-container">
                                    <p class="response-description">
                                        Really you don't know what atoms are? 
                                    </p>
                                </div>
                                <!-- Nested Comments or Answers * -->
                                <!-- { output } -->
                            </div>
                            <!-- Nested -->
    
                        </div>
                    </main>
                </div>
            <!-- {% endfor %}
        {% endif %} -->